/* 使用 ‘/**\/ ’样式注释 */


/*一般的样式 */
.common_style {
    width: 100%;
    height: auto;
    display: block;
}

/*从左到右滑入 */
.slidein_left_2_right_before {
    width: 100%;
    height: auto;
    transform: translate(-100%);
    transition: transform 2s;
    display: block;
}

.slidein_left_2_right_after {
    width: 100%;
    height: auto;
    transform: translate(0%);
    transition: transform 2s;
    display: block;
}

.rotate_360_y {
    width: 100%;
    height: auto;
    transform: rotateY(360deg);
    transition: transform 2s;
    display: block;
}

.downimg {
    width: 100%;
    height: auto;
    animation-name: downimg-keyframes;
    animation-duration: 1000ms;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    animation-timing-function: linear;

    transform-origin: 0 0;
}

@keyframes downimg-keyframes {
    0% {
        transform: translate(0px, 0%) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);
    }

    3.57% {
        transform: translate(0px, 0.0096%) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(1.6429deg) translate(-50%, -50%);
    }

    7.14% {
        transform: translate(0px, 0.0386px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(3.2857deg) translate(-50%, -50%);
    }

    10.71% {
        transform: translate(0px, 0.0868px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(4.9286deg) translate(-50%, -50%);
    }

    14.29% {
        transform: translate(0px, 0.1543px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(6.5714deg) translate(-50%, -50%);
    }

    17.86% {
        transform: translate(0px, 0.2412px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(8.2143deg) translate(-50%, -50%);
    }

    21.43% {
        transform: translate(0px, 0.3473px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(9.8571deg) translate(-50%, -50%);
    }

    25% {
        transform: translate(0px, 0.4727px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(11.5deg) translate(-50%, -50%);
    }

    28.57% {
        transform: translate(0px, 0.6173px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(13.1429deg) translate(-50%, -50%);
    }

    32.14% {
        transform: translate(0px, 0.7813px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(14.7857deg) translate(-50%, -50%);
    }

    35.71% {
        transform: translate(0px, 0.9646px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(16.4286deg) translate(-50%, -50%);
    }

    39.29% {
        transform: translate(0px, 0.9261px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(18.0714deg) translate(-50%, -50%);
    }

    42.86% {
        transform: translate(0px, 0.8533px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(19.7143deg) translate(-50%, -50%);
    }

    46.43% {
        transform: translate(0px, 0.7998px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(21.3571deg) translate(-50%, -50%);
    }

    50% {
        transform: translate(0px, 0.7656px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(23deg) translate(-50%, -50%);
    }

    53.57% {
        transform: translate(0px, 0.7507px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(24.6429deg) translate(-50%, -50%);
    }

    57.14% {
        transform: translate(0px, 0.7551px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(26.2857deg) translate(-50%, -50%);
    }

    60.71% {
        transform: translate(0px, 0.7788px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(27.9286deg) translate(-50%, -50%);
    }

    64.29% {
        transform: translate(0px, 0.8217px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(29.5714deg) translate(-50%, -50%);
    }

    67.86% {
        transform: translate(0px, 0.884px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(31.2143deg) translate(-50%, -50%);
    }

    71.43% {
        transform: translate(0px, 0.9656px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(32.8571deg) translate(-50%, -50%);
    }

    75% {
        transform: translate(0px, 0.9727px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(34.5deg) translate(-50%, -50%);
    }

    78.57% {
        transform: translate(0px, 0.9455px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(36.1429deg) translate(-50%, -50%);
    }

    82.14% {
        transform: translate(0px, 0.9376px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(37.7857deg) translate(-50%, -50%);
    }

    85.71% {
        transform: translate(0px, 0.949px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(39.4286deg) translate(-50%, -50%);
    }

    89.29% {
        transform: translate(0px, 0.9797px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(41.0714deg) translate(-50%, -50%);
    }

    92.86% {
        transform: translate(0px, 0.9895px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(42.7143deg) translate(-50%, -50%);
    }

    96.43% {
        transform: translate(0px, 0.9851px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(44.3571deg) translate(-50%, -50%);
    }

    100% {
        transform: translate(0px, 100%) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(46deg) translate(-50%, -50%);
    }
}

.bounceIn {
    animation: bounceIn 1s 0.2s ease both;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
    }

    70% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.rotateInDownLeft {
    animation: frotateInDownLeft 1s .2s ease both;
}

@keyframes frotateInDownLeft {
    0% {
        transform-origin: left bottom;
        transform: rotate(-90deg);
        opacity: 0
    }

    100% {
        transform-origin: left bottom;
        transform: rotate(0);
        opacity: 1
    }
}

.rotateInDownRight {
    animation: frotateInDownRight 1s .2s ease both;
}

@keyframes frotateInDownRight {
    0% {
        transform-origin: right bottom;
        transform: rotate(-90deg);
        opacity: 0
    }

    100% {
        transform-origin: right bottom;
        transform: rotate(0);
        opacity: 1
    }
}